.about-us {
  h2 {
    font-size: 28px;
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 37px;
    font-weight: 300;
    padding-top: 35px;
    padding-bottom: 108px;
  }
}
