/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home {
  h2 {
    color: white;
    font-family: $title-font;
    font-weight: lighter;
  }
}
