/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home {
  background-image: url(/assets/home-background.png);
  background-size: 100% auto;
  height: 100vh;
  .logo-center {
    width: 20%;
  }
  .nav-bar-tmp {
    height: 60px;
    margin-bottom: 25px;
  }
  h2 {
    color: white;
    font-family: $title-font;
    font-weight: lighter;
    margin: 0 auto 50px;
  }
  .search-tool {
    width: 66.66667%;
    margin-left: 17.05961%;
    .form-flex {
      display: flex;
      width: 100%;
      .left-input {
        margin-right: 3.57866%;
        width: 74.10533%;
        .form-control {
          border-radius: 5px;
          height: 45px;
          &:focus {
            box-shadow: inset 0 0 1px #1fcaa8;
            border-color: #1fcaa8 !important;
            outline: none;
          }
        }
      }
      .but-input {
        .btn-primary {
          width: 190px;
          height: 45px;
          font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
          font-weight: 600;
          border-radius: 5px;
        }
      }
    }

    .example_search {
      padding: 10px 15px;
      color: #93a8bd;
    }
  }
  .actions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    .explore_more {
      color: #6e7c8d;
      font-size: 1.40rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.5pt;
      text-decoration: none;
    }
  }
}

.press-partner {
  background-color: #f9fafc;
  width: 100%;
  .img-press {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 181px;
      padding: 10px;
      filter: grayscale(100%);
    }
  }
}

.usefull-tool {
  background-color: #fff;
  text-align: center;
  .title {
    color: #1b2f46;
    padding-top: 59px;
    font-size: 31px;
    margin-bottom: 10px;
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 500;
    line-height: 46.5px;
  }
  .subtitle {
    font-size: 20px;
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #6c7b8d;
    line-height: 28px;
  }
  .item_body {
    padding-top: 50px;
    padding-bottom: 37px;
  }
  .item_body-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .content {
    position: absolute;
    width: 960px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: left;
    .feedback {
      width: 340px;
      .feedback_logo {
        width: 120px;
        padding-bottom: 15px;
      }
      .feedback_blockquote {
        background-color: #fafbfc;
        border: 1px solid #ebeff2;
        border-radius: 6px;
        position: relative;
        text-align: left;
        z-index: 3;
        padding: 27px 24px 19px 24px;
      }
      .feedback_blockquote-right {
        background-color: #fafbfc;
      }
      .feedback_text {
        color: #6c7b8d;
        font-size: 16px;
        lline-height: 24px;
        font-style: italic;
        font-family: "Open Sans", "Helvetica", "sans-serif";
        font-weight: 300;
      }
      .feedback_avatar {
        width: auto;
        display: inline-block;
        float: left;
        width: 30px;
        height: 30px;
        background: #fff no-repeat 50% 50%;
        background-size: cover;
        border-radius: 50%;
      }
      .feedback_name {
        font-size: 14px;
        padding-top: 8px;
        margin-left: 57px;
        font-weight: 500;
        color: #8997a7;
        font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      }
    }
  }
  .item_img {
    width: 51%;
    overflow: hidden;
    position: relative;
    z-index: 5;
    img {
      max-width: 652px;
    }
  }
}
