<h1>Vos favoris</h1>

<%= simple_form_for :selected, url: export_path, method: :post do |f| %>
  <%= f.error_notification %>
    <%= f.input @journalistes, as: :check_boxes %>
  <%= f.button :submit, class: 'btn btn-primary', value: "Trouvez", data: { disable_with: "Trouvez" } %>
<% end %>
