<%= render 'shared/navbar' %>
<h1>Journalists index</h1>

<div class="container">
  <div class="col-xs-12 col-md-7">
    <div class="card-journalist">
    <div class="jfavorite">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
      <div class="jleft">
        <%= image_tag "steve-avatar.png", class:"javatar" %>
        <div class="text-center jbtn">
          <button type="button" class="btn btn-primary btn-sm">Pitchez !</button>
        </div>
      </div>
      <div class="jcontains">
        <h3>Jean-Jacques Bourdin</h3>
        <div class="l2">
          <div>
            <h5>RMC</h5>
          </div>
          <div>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
        <h5>Derniers Articles</h5>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
        </div>
      </div>

  </div>
  </div>
</div>

<ul>
<% @journalists.each do |journalist| %>
  <li>
  <%= journalist.first_name %>
  <% if current_user && current_user.journalists.include?(journalist) %>
    <p>Appartient déjà ta liste bolosse!</p>
  <% else %>
    <%= link_to "favorite", journalist_personal_lists_path(journalist.id), method: :post %>
  <% end %>
  </li>
<% end  %>
</ul>
