<div class="footer">
  <div class="container">
    <div class="first-foot">
      <div class="left">
        <p class="title"><a href="/">Jist .press</a></p>
        <p>Jist is the easiest way for startups to do their own PR without spending a lot of money.</p>
      </div>

      <div class="center">
        <ul class="menu_links">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="mailto:contact@jist.press">Contact us</a></li>
        </ul>
      </div>

      <div class="right">
        <p class="made_with_love">Made with <i class="fa fa-heart"></i> by&nbsp;<a href="http://www.jeremy-goillot.com"> Jérémy Goillot</a></p>
        <p>We absolutely love hearing from our prospective and existing customers. Got a question or a comment? Don't hesitate to<a href="mailto:hi@justreachout.io"> reach out to us</a>.</p>
      </div>
    </div>
    <div class="copyright">
      <p>Jist © <span class="year"><%= Time.now.year %></span> Journalist List. All rights reserved.&nbsp;<a href="#">Terms of Use</a></p>
    </div>
  </div>
</div>
