<div class="sign-up about-us">
  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>À-Propos de Jist </h2>
      </div>
    </div>
  </div>
</div>
