<%= render 'shared/navbar' %>
<h1>Welcom on your dashboard</h1>

<div class="dashboard">
  <div class="container">
    <div class="title">Mon Profil</div>

    <div class="profile">

      <div class="personal-info">
        Informations personnelles
      </div>

    </div>


  </div>
</div>



<%= link_to "vos favoris", favorite_journalists_path %>
