<div class="home">
  <div class="container">
    <div class="text-center">
      <h2>Forget PR firms, find and pitch relevant<br>
      journalists daily all on your own.</h2>
    </div>
  </div>
</div>
